div.container {
background-color: #ffffff;
}
div.container p {
font-family: Times;
font-style: italic;
font-weight: bold;
text-decoration: blink;
text-transform: none;
color: #e64c4c;
background-color: #ffffff;
}

.my-element {
  text-shadow: 1px 1px 0px white,
    2px 2px 0px firebrick;
  color: darkslategray;
}
​

body {
  background: #f3f3f3;
}
​
/* Presentational styles */
.my-element {
  --flow-space: 2rem;
  font-size: 3em;
  font-weight: 900;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  line-height: 1.1;
  max-width: 40ch;
}
​

body {
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	margin: 6em 6em;
	font-weight: bold;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	float: left;
	margin-right: 10px;
}
li:last-of-type {
	margin-right: 0;
}

a {
	display: block;
}

img {
	width: 600px;
	height: 450px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
}




body {
 font-family: Tahoma, Verdana, Geneva, sans-serif;
 margin: 6em 6em; font-weight: bold;
}

ul {
 list-style-type: none; padding: 0;
	margin: 0;
}

li { float: left; margin-right: 10px;
}

li:last-of-type {
 margin-right: 0;
}


a { display: block;
}


img { width: 600px; height: 450px; box-shadow: 2px 2px 2px rgba(0,0,0,.4);

transition: transform .3s ease-in-out; 
}


a:hover img {
	box-shadow: 6px 6px 6px rgba(0,0,0,.3);
}


a:hover #img1, a:focus #img1  {
	transform: scale(2.5) rotate(-6deg);
}

a:hover #img2, a:focus #img2  {
	transform: scale(2.5) rotate(8deg);
}

a:hover #img3, a:focus #img3  {
	transform: scale(2.5) rotate(-10deg);
}

a:hover #img4, a:focus #img4  {
	transform: scale(2.5) rotate(5deg);
}
